<?xml version="1.0" encoding="UTF-8"?>


<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <!--
     | Propagate log levels to java.util.logging
     +-->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!--
     | Console (System.out) logger, useful to see what is going on in tests
     +-->
    <appender name="C" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%thread] %logger{36} %d{ISO8601} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
     | NOP logger that swallows all messages, useful for general test runs
     | to allow logging to run at a high level without performance issues.
     +-->
    <appender name="N" class="ch.qos.logback.core.helpers.NOPAppender"/>

    <!--
     | Set root logging to TRACE, this is important so that all log messages are
     | actually exercised by the unit tests.
     +-->
    <root level="ALL">
        <appender-ref ref="C"/>
    </root>

    <!--
     | Uncomment and change package to inspect log mesasges for specific
     | code
     +-->
    <!--
    <logger name="org.hibernate.type" additivity="false" level="TRACE">
      <appender-ref ref="C"/>
    </logger>
     -->
    <logger name="org.springframework" additivity="false" level="INFO">
    <appender-ref ref="C"/>
    </logger>
    <logger name="org.hibernate" additivity="false" level="INFO">
        <appender-ref ref="C"/>
    </logger>
    <logger name="net.sf.ehcache" level="INFO">
        <appender-ref ref="C"/>
    </logger>
    <logger name="org.apache" level="INFO">
        <appender-ref ref="C"/>
    </logger>

</configuration>